<div class="container">
    <form>
        <div class="mb-3">
            <label class="form-label"><strong>Name</strong></label>
            <input type="text" class="form-control" placeholder="Enter Name" name="name" [(ngModel)]="currentContact.name">
        </div>

        <div class="mb-3">
            <label class="form-label"><strong>Email Address</strong></label>
            <input type="email" class="form-control" placeholder="Enter Email Address" name="email" [(ngModel)]="currentContact.email">
        </div>

        <div class="mb-3">
            <label class="form-label"><strong>Phone</strong></label>
            <input type="txt" class="form-control" placeholder="Enter Phone Number" name="phone" [(ngModel)]="currentContact.phone">
        </div>

        <button *ngIf="!isEdit" (click)="addContact(currentContact)" class="btn btn-success">Add</button>

        <button *ngIf="isEdit" (click)="updateContact()" class="btn btn-success">Update</button>
    </form>
</div>